{% from "app_macro.html" import app_snapshots, app_post_analysis_script with context %}
{% extends "layout.html" %}
{% block head_content %}
    <style>
        .table tr.app-row {
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block title %}
    List of apps
{% endblock %}
{% block content %}
    <div class="row">
        <table class="table  table-bordered" style="border-collapse:collapse;">
            <thead>
            <tr class="table-primary">
                <th>App</th>
                <th>Snapshot</th>
                <th>#P Smell (TP)</th>
                <th>#A Smell (TP)</th>
                <th>#TBR</th>
                <th>#TBR TP</th>
                <th>#TBR FP</th>
                <th>#TBR FN</th>
                <th>#TBR Missing Tags</th>
                <th>#TBA</th>
                <th>#TBA TP</th>
                <th>#TBA FP</th>
                <th>#TBA FN</th>
                <th>#TBA Missing Tags</th>
                <th>#APIA</th>
                <th>Missing Smell Tag</th>
{#                <th>Missing Verify Tag</th>#}
                <th>...</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr >
                    <td> {{ row.app_name}}</td>
                    <td> {{row.snapshot_name}}</td>
                    <td> {{row.result.p_smells}}({{row.result.p_tp}})</td>
                    <td> {{row.result.a_smells}}({{row.result.a_tp}})</td>
                    <td> {{row.result.p_tbrs}}</td>
                    <td> {{row.result.p_tbrs_tp}} </td>
                    <td> {{row.result.p_tbrs_fp}} </td>
                    <td> {{row.result.p_tbrs_fn}} </td>
                    <th> {{row.result.p_smells - (row.result.p_tbrs_tn + row.result.p_tbrs_tp + row.result.p_tbrs_fp + row.result.p_tbrs_fn)}} </th>
                    <td> {{row.result.a_tbas}} </td>
                    <td> {{row.result.a_tbas_tp}} </td>
                    <td> {{row.result.a_tbas_fp}} </td>
                    <td> {{row.result.a_tbas_fn}} </td>
                    <th> {{row.result.a_smells - (row.result.a_tbas_tn + row.result.a_tbas_tp + row.result.a_tbas_fp + row.result.a_tbas_fn)}} </th>
                    <td> {{row.result.a_apias}} </td>
{#                    <td> {{row.result.a_apias}}({{row.result.a_apias_tp}})</td>#}
{#                    <td> {{row.result.t_smells}}({{row.result.t_tp}})</td>#}
                    <th> {{row.result.missing_smell_tag}}</th>
{#                    <td> {{ row.result.missing_verify_tag }}</td>#}
                    <th>
                        <a href="{{ url_for('report_sb_v2', result_path=result_path, app_name=row.app_name, snapshot_name=row.snapshot_name) }}">link</a
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
