{% extends "layout.html" %}
{% from "snapshot_macro.html" import snapshot_image_card with context %}
{% from "action_macro.html" import  action_info with context %}
{% macro next_step_arrow(snapshot_index) %}
    {% if snapshot_index != 'END' %}
        <div class="d-flex justify-content-center fs-1  mt-2" style="position: relative">
            <a href="#step_{{ snapshot_index+1 }} ">
                <i class="fa fa-arrow-down" style="position: absolute;top: -0.3rem;" ></i>
            </a>
        </div>
    {% endif %}
{% endmacro %}
{% block title %}
    Replay report {{ app_name }}
{% endblock %}
{% block content %}
    <hr>
    <a class="btn btn-info copyer">
        Copy Path
        <input type="hidden" class="text-to-copy"
               value="{{ result_path }}/{{ app_name }}/">
    </a>
    <hr>
    <div class="row">
        <div class="col-8">
            <h2>Steps:</h2>
        </div>
        <div class="col-4">
        </div>
    </div>
    <div class="row">
        <div class="col-2 p-1">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        Annotations
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 p-1">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <i id="RECORDER_action_annotate_btn" class="bi bi-pin-map-fill btn btn-light rounded-pill m-1" style="display: inline-block;">
                            Actions
                        </i>
                        <i id="RECORDER_atf_annotate_btn" class="bi bi-exclamation-triangle btn btn-light rounded-pill m-1" style="display: inline-block;">
                            Issues
                        </i>
                        <i id="RECORDER_clear_annotate_btn" class="bi bi-x-circle btn btn-warning rounded-pill m-1" style="display: inline-block;">
                            Clear
                        </i>
                    </div>
                </div>
            </div>
        </div>
        {% for rd_manager in rd_managers %}
            <div class="col-2 p-1">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                                <i id="{{ rd_manager.controller_mode }}_action_annotate_btn" class="bi bi-pin-map-fill btn btn-light rounded-pill m-1" style="display: inline-block;">
                                    Actions
                                </i>
                                <i id="{{ rd_manager.controller_mode }}_atf_annotate_btn" class="bi bi-exclamation-triangle btn btn-light rounded-pill m-1" style="display: inline-block;">
                                    Issues
                                </i>
                                <i id="{{ rd_manager.controller_mode }}_clear_annotate_btn" class="bi bi-x-circle btn btn-warning rounded-pill m-1" style="display: inline-block;">
                                    Clear
                                </i>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% for snapshot_index in snapshot_indices %}
        {% if snapshot_index != 'END' %}
            {% set command = command_messages[snapshot_index].command %}
        {% endif %}
        <div class="row" id="step_{{ snapshot_index }}">
            <div class="col-2 p-1">
                <div class="card">
                    <div class="card-header">
                        #{{ snapshot_index }}
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            {% if snapshot_index != 'END' %}
                                {{ action_info(command.target) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer">
                        {% if snapshot_index != 'END' %}
                            <div class="d-flex justify-content-center fs-1  mt-2" style="position: relative">
                                <a href="#step_{{ snapshot_index+1 }} ">
                                    <i class="fa fa-arrow-down"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>


            {{ snapshot_image_card("Recorder", static_path_fixer(recorder_screenshot_map[snapshot_index], result_path),
                    { 'Layout': url_for('send_result_static_v2', path=static_path_fixer(recorder_layout_map[snapshot_index], result_path))}, 2, "RECORDER_canvas_{}".format(snapshot_index))}}

            <input type="hidden" id="RECORDER_bounds_{{ snapshot_index }}" value="[0.0, 0.0, 0.0, 0.0]"/>
            <input type="hidden" id="RECORDER_action_annotated_{{ snapshot_index }}" value="false"/>

            {% for rd_manager in rd_managers %}
                {% set step_info = rd_manager.get_step_info(snapshot_index) %}
                {% if step_info %}
                    {% if snapshot_index != 'END' %}
                        {% set link_to_name = {
                            'Layout': url_for('send_result_static_v2', path=static_path_fixer(step_info['layout'], result_path)),
                            'Logs': url_for('send_result_static_v2', path=static_path_fixer(step_info['logs'], result_path)),
                            'Events': url_for('send_result_static_v2', path=static_path_fixer(step_info['event_logs'], result_path)),
                        } %}
                    {% else  %}
                        {% set link_to_name = { 'Layout': url_for('send_result_static_v2', path=static_path_fixer(step_info['layout'], result_path))} %}
                    {% endif %}
                    {{ snapshot_image_card(rd_manager.controller_mode, static_path_fixer(step_info['screenshot'], result_path),
                            link_to_name, 2, "{}_canvas_{}".format(rd_manager.controller_mode, snapshot_index))}}
                    <input type="hidden" id="{{ rd_manager.controller_mode }}_bounds_{{ snapshot_index }}" value="{{ step_info.bounds }}"/>
                    <input type="hidden" id="{{ rd_manager.controller_mode }}_action_annotated_{{ snapshot_index }}" value="false"/>
                {% endif %}
            {% endfor %}

        </div>
    {% endfor %}

<!--
    <div class="row">

        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="2">
                    Annotation:
                </td>
                <td>
{#                    <div style="display: block; overflow-x: auto; white-space:nowrap ">#}
                    <div>

                        <i id="RECORDER_action_annotate_btn" class="bi bi-pin-map-fill btn btn-light rounded-pill m-1" style="display: inline-block;">
                            Actions
                        </i>
                        <i id="RECORDER_atf_annotate_btn" class="bi bi-exclamation-triangle btn btn-light rounded-pill m-1" style="display: inline-block;">
                            Issues
                        </i>
                        <i id="RECORDER_clear_annotate_btn" class="bi bi-x-circle btn btn-warning rounded-pill m-1" style="display: inline-block;">
                            Clear
                        </i>
                    </div>
                </td>
                {% for rd_manager in rd_managers %}
                        <td>
{#                            <div style="display: block; overflow-x: auto; white-space:nowrap ">#}
                            <div>
                                <i id="{{ rd_manager.controller_mode }}_action_annotate_btn" class="bi bi-pin-map-fill btn btn-light rounded-pill m-1" style="display: inline-block;">
                                    Actions
                                </i>
                                <i id="{{ rd_manager.controller_mode }}_atf_annotate_btn" class="bi bi-exclamation-triangle btn btn-light rounded-pill m-1" style="display: inline-block;">
                                    Issues
                                </i>
                                <i id="{{ rd_manager.controller_mode }}_clear_annotate_btn" class="bi bi-x-circle btn btn-warning rounded-pill m-1" style="display: inline-block;">
                                    Clear
                                </i>
                            </div>
                        </td>
                {% endfor %}
                <td></td>
            </tr>
            <tr>
                <th scope="col" style="width: 2rem">#</th>
                <th scope="col" class="d-none d-lg-block" >Action</th>
                <th scope="col" class="col-2">Recorder</th>
                {% for rd_manager in rd_managers %}
                    <th scope="col" class="col-2">{{ rd_manager.controller_mode }}</th>
                {% endfor %}
                <th scope="col" class="col-2">Result</th>
            </tr>
            </thead>
            <tbody>
            {% for snapshot_index in snapshot_indices %}
                {% if snapshot_index != 'END' %}
                    {% set command = command_messages[snapshot_index].command %}
                {% endif %}
                <tr id="step_{{ snapshot_index }}">
                    <td> {{ snapshot_index }} </td>
                    <td class="d-none d-lg-block">
                        {% if snapshot_index != 'END' %}
                            {{ action_info(command.target) }}
                        {% endif %}
                    </td>
                    <td>
                    {{ snapshot_image_card("Recorder", static_path_fixer(recorder_screenshot_map[snapshot_index], result_path),
                    { 'Layout': url_for('send_result_static_v2', path=static_path_fixer(recorder_layout_map[snapshot_index], result_path))}, 6, "RECORDER_canvas_{{ snapshot_index }}")}}
{#                        <a class="enlarge">#}
{#                        <canvas class="rounded d-block mx-auto mt-4" id="RECORDER_canvas_{{ snapshot_index }}" height="650" style="border:1px solid #d3d3d3;#}
{#                                            background-repeat: no-repeat;#}
{#                                            background-size: cover;#}
{#                                            background-position: top;#}
{#                                            width: 10rem;#}
{#                                            background-image: url('{{ url_for('send_result_static_v2', path=static_path_fixer(recorder_screenshot_map[snapshot_index], result_path)) }}')">#}
{#                                    Your browser does not support the HTML5 canvas tag.</canvas>#}
{#                        </a>#}
{#                        <input type="hidden" id="RECORDER_bounds_{{ snapshot_index }}" value="[0.0, 0.0, 0.0, 0.0]"/>#}
{#                        <input type="hidden" id="RECORDER_action_annotated_{{ snapshot_index }}" value="false"/>#}
{##}
{#                        <hr>#}
{#                        <div class="d-flex justify-content-center">#}
{#                            <span style="display: inline-block;">#}
{#                                <a href="{{ url_for('send_result_static_v2', path=static_path_fixer(recorder_layout_map[snapshot_index], result_path)) }}">Layout</a>#}
{#                            </span>#}
{#                        </div>#}
{#                        {{ next_step_arrow(snapshot_index) }}#}
                    </td>
                    {% for rd_manager in rd_managers %}
                        {% set step_info = rd_manager.get_step_info(snapshot_index) %}
                        {% if step_info %}
                            <td
                            class="
                            bg-gradient
                            {% if snapshot_index != 'END' %}
                                {% if step_info['response'].state == 'COMPLETED' %}
                                    bg-success
                                {% else %}
                                    bg-danger
                                {% endif %}
                            {% endif %}
                            "
                            style="
                            {% if snapshot_index != 'END' %}
                                {% if step_info['response'].state == 'COMPLETED' %}
                                    --bs-bg-opacity: .05;
                                {% else %}
                                    --bs-bg-opacity: .3;
                                {% endif %}
                            {% endif %}
                            "
                            >
                                <a class="enlarge">
                                    <canvas class="rounded d-block mx-auto mt-4" id="{{ rd_manager.controller_mode }}_canvas_{{ snapshot_index }}" height="650" style="border:1px solid #d3d3d3;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: top;
                                            width: 10rem;
                                            background-image: url('{{ url_for('send_result_static_v2', path=static_path_fixer(step_info['screenshot'], result_path)) }}')">
                                    Your browser does not support the HTML5 canvas tag.</canvas>
                                </a>
                                <input type="hidden" id="{{ rd_manager.controller_mode }}_bounds_{{ snapshot_index }}" value="{{ step_info.bounds }}"/>
                                <input type="hidden" id="{{ rd_manager.controller_mode }}_action_annotated_{{ snapshot_index }}" value="false"/>
                                <hr>
                                <div style="display: block; overflow-x: auto; white-space:nowrap; width: 100%">
                                    {% if snapshot_index != 'END' %}
                                        <span style="display: inline-block;">
                                            <a href="{{ url_for('send_result_static_v2', path=static_path_fixer(step_info['logs'], result_path)) }}">
                                                Log
                                            </a>
                                        </span>
                                        <span style="display: inline-block;">
                                            <a href="{{ url_for('send_result_static_v2', path=static_path_fixer(step_info['event_logs'], result_path)) }}">
                                                EventLog
                                            </a>
                                        </span>
                                    {% endif %}
                                    <span style="display: inline-block;">
                                        <a href="{{ url_for('send_result_static_v2', path=static_path_fixer(step_info['layout'], result_path)) }}">Layout</a>
                                    </span>
                                </div>
{#                                {{ next_step_arrow(snapshot_index) }}#}

                            </td>
                        {% else %}
                            <td>
                                <img src="{{ url_for('send_result_static_v2', path='404.png') }}"
                                     class="rounded d-block mx-auto"
                                     style="width: 10rem;">
                                <hr>
                                <div class="d-flex justify-content-center">
                                    No info available
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td>Result</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    -->
    {#    {% endfor %}#}


{% endblock %}
{% block script_content %}
    <script>
        $(function () {
            function denormalizeBounds(normalizedBounds, canvas){
                return [parseInt(normalizedBounds[0] * canvas.width),
                                             parseInt(normalizedBounds[1] * canvas.height),
                                             parseInt(normalizedBounds[2] * canvas.width),
                                             parseInt(normalizedBounds[3] * canvas.height)]
            }

            function drawRectangle(canvas, bounds, strokeStyle='#af1b3f', fillStyle='#efc69b20', lineDash = [10, 10], lineWidth = 5){
                let context = canvas.getContext('2d');
                if(lineDash != null)
                    context.setLineDash(lineDash);
                context.beginPath();
                context.rect(bounds[0], bounds[1], bounds[2]-bounds[0], bounds[3] - bounds[1]);
                if (fillStyle != null) {
                    context.fillStyle = fillStyle;
                    context.fill();
                }
                context.lineWidth = lineWidth;
                context.strokeStyle = strokeStyle;
                context.stroke();
            }

            $("i[id*='_action_annotate_btn']").on( "click", (event) =>{
                let button = event.target;
                let mode = button.id.split('_action_annotate_btn')[0]
                $(`canvas[id^='${mode}_canvas_']`).each(function(index, canvas){
                    if (canvas.id.endsWith("_END"))
                        return;
                    let is_annotated_id = canvas.id.replace("_canvas_", "_action_annotated_");
                    let is_annotated_element = $(`input[id=${is_annotated_id}]`);
                    let is_annotated = eval(is_annotated_element.val())
                    if (!is_annotated)
                    {
                        let bounds_id = canvas.id.replace("_canvas_", "_bounds_")
                        let bounds = eval($(`input[id=${bounds_id}]`).val())
                        let newBounds = denormalizeBounds(bounds, canvas);
                        drawRectangle(canvas, newBounds, strokeStyle='#af1b3f', fillStyle='#efc69b20', lineDash = [10, 10], lineWidth = 7)
                        is_annotated_element.val("true");
                    }
                });
            });

            $("i[id*='_clear_annotate_btn']").on( "click", (event) =>{
                let button = event.target;
                let mode = button.id.split('_clear_annotate_btn')[0]
                $(`canvas[id^='${mode}_canvas_']`).each(function(index, canvas){
                    canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
                    let is_annotated_id = canvas.id.replace("_canvas_", "_action_annotated_");
                    let is_annotated_element = $(`input[id=${is_annotated_id}]`);
                    is_annotated_element.val("false");
                });
            });

        });

    </script>

{% endblock %}