{% extends "layout.html" %}
{% from "snapshot_macro.html" import note_form_script, action_tag_script, snapshot_row, talkback_explore, oversight_static, snapshot_action, snapshot_summary with context %}
{% from "action_macro.html" import  action_row with context %}
{% block title %}
    Replay report {{ app_name }}
{% endblock %}
{% block content %}
    {{ snapshot_row(address_book) }}
    {{ oversight_static(address_book) }}
    <hr>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="tb_steps_switch" checked>
            <label class="form-check-label" for="flexSwitchCheckDefault">Hide passed actions</label>
        </div>
        <a class="btn btn-info copyer">
            Copy Path
            <input type="hidden" class="text-to-copy"
                   value="{{ result_path }}/{{ app_name }}/{{ name }}">
        </a>
    <hr>
    <div class="row">
        <div class="col-8">
            <h2>Steps:</h2>
        </div>
        <div class="col-4">
        </div>
    </div>
    {% for snapshot_name in snapshot_names %}
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Action</th>
                    <th scope="col">State0</th>
                    {% for rd_manager in rd_managers %}
                        <th scope="col">{{ rd_manager.controller_mode }}</th>
                    {% endfor %}
                    <th scope="col">Result</th>
                </tr>
                </thead>
                <tbody>
                {% for snapshot_name in snapshot_names %}
                    <tr>
                        <td> {{ snapshot_name }} </td>
                        <td>{{ action_index() }}</td>

                        {% for rd_manager in rd_managers %}
                            <td>State0</td>
                            <td>{{ rd_manager.controller_mode }}</td>
                        {% endfor %}
                        <td>Result</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}


{% endblock %}
{% block script_content %}
    <script>
        $(function () {
            $('.tb-step-passed').hide();
            $('#tb_steps_switch').change(function () {
                if (this.checked) {
                    $('.tb-step-passed').hide();
                } else
                    $('.tb-step-passed').show();
            });
        });

    </script>
    {{ action_tag_script() }}
    {{ note_form_script() }}
{% endblock %}