<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>BlindMonkey - Report - {{ name }}</title>
</head>
<body>


<main>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <span class="fs-4">Blind Monkey Reports</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            </ul>
        </header>
    </div>
{% if errors %}

    {% for error_message in errors %}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    {% endfor %}

{% endif %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div class="col-8">
                    <h1>TalkBack Exploration</h1>
                </div>
                <div class="col-4">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="tb_steps_switch" checked>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Hide passed actions</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Action</th>
                        <th scope="col">Inital</th>
                        <th scope="col">Talkback</th>
                        <th scope="col">Regular</th>
                        <th scope="col">Result</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for step in tb_steps %}
                        <tr class="tb-step-{{ "passed" if step.status == 1 else "failed" }}">
                            <th scope="row">{{ step.index }}</th>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td class="text-end">ResourceId</td>
                                        <td class="text-start">{{ step.action.resourceId }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end">Text</td>
                                        <td class="text-start">{{ step.action.text }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end">Content Description</td>
                                        <td class="text-start">{{ step.action.contentDescription }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end">Class</td>
                                        <td class="text-start">{{ step.action.class }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end">XPath</td>
                                        <td class="text-start">
                                            <button type="button" class="btn btn-light" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="{{ step.action.xpath }}">XPath
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <a href="#" class="enlarge">
                                    <img src="{{ step.init_img }}" class="rounded d-block mx-auto"
                                         style="width: 10rem;">
                                </a>
                            </td>
                            <td>
                                <a href="#" class="enlarge">
                                    <img src="{{ step.tb_img }}" class="rounded d-block mx-auto"
                                         style="width: 10rem;" data-bs-toggle="tooltip"
                                         data-bs-placement="top" title="{{ step.tb_result|e }}">
                                </a>
                            </td>
                            <td>
                                <a href="#" class="enlarge">
                                    <img src="{{ step.reg_img }}" class="rounded d-block mx-auto"
                                         style="width: 10rem;" data-bs-toggle="tooltip"
                                         data-bs-placement="top" title="{{ step.reg_result|e }}">
                                </a>
                            </td>
                            <td class="{{ 'table-success' if step.status == 1 else ('table-warning' if step.status == 2 else 'table-danger') }}">
                                <ul>
                                    <li>Result: {{ step.status_message }}</li>
                                </ul>
                                <a href="#" class="showdiff btn btn-secondary">
                                    Show Diff
                                    <input type="hidden" class="snapshot-index" value="{{ step.index }}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-8">
                    <h1>Sighted TalkBack Checks</h1>
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Action</th>
                        <th scope="col">Inital</th>
                        <th scope="col">Sighted Talkback</th>
                        <th scope="col">Regular</th>
                        <th scope="col">Result</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for step in stb_steps %}
                        <tr>
                            <th scope="row">{{ step.index }}</th>
                            <td>
                                <table class="table">
                                    <tr>
                                        <td class="text-end">ResourceId</td>
                                        <td class="text-start">{{ step.action.resourceId }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end">Text</td>
                                        <td class="text-start">{{ step.action.text }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end">Content Description</td>
                                        <td class="text-start">{{ step.action.contentDescription }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end">Class</td>
                                        <td class="text-start">{{ step.action.class }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end">XPath</td>
                                        <td class="text-start">
                                            <button type="button" class="btn btn-light" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="{{ step.action.xpath }}">XPath
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <a href="#" class="enlarge">
                                    <img src="{{ step.init_img }}" class="rounded d-block mx-auto"
                                         style="width: 10rem;">
                                </a>
                            </td>
                            <td>
                                <a href="#" class="enlarge">
                                    <img src="{{ step.tb_img }}" class="rounded d-block mx-auto"
                                         style="width: 10rem;" data-bs-toggle="tooltip"
                                         data-bs-placement="top" title="{{ step.stb_result|e }}">
                                </a>
                            </td>
                            <td>
                                <a href="#" class="enlarge">
                                    <img src="{{ step.reg_img }}" class="rounded d-block mx-auto"
                                         style="width: 10rem;" data-bs-toggle="tooltip"
                                         data-bs-placement="top" title="{{ step.reg_result|e }}">
                                </a>
                            </td>
                            <td class="{{ 'table-warning' if step.status else 'table-danger' }}">
                                <ul>
                                    <li>Result: {{ "Unreachable" if step.status else "Different Behavior" }}</li>
                                </ul>
                                <a href="#" class="showdiff btn btn-secondary">
                                    Show Diff
                                    <input type="hidden" class="snapshot-index" value="M_{{ step.index }}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</main>
<!--XML Diff Modal-->
<div class="modal fade" id="xmldiffmodal" tabindex="-1" role="dialog" aria-labelledby="myXMLModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <iframe id="diff_iframe_id" style="width: 100%; height: 100%" src=""></iframe>
                {#                <div class="row">#}
                {#                    <pre class="col-6" id="xml_A"></pre>#}
                {#                    <pre class="col-6" id="xml_B"></pre>#}
                {#                </div>#}
            </div>
        </div>
    </div>
</div>
<!--Enlarged Image Modal-->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
-->
<script>
    $(function () {
        $('.tb-step-passed').hide();
        $('#tb_steps_switch').change(function () {
            if (this.checked) {
                $('.tb-step-passed').hide();
            } else
                $('.tb-step-passed').show();
        });
        $('.enlarge').on('click', function () {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
        $('.showdiff').on('click', function () {
            let index = $(this).find('.snapshot-index').attr('value');
            $('#diff_iframe_id').attr('src', "/snapshot/diff/{{ name }}/" + index);
            $('#xmldiffmodal').modal('show');
        });
        // Enabling Tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });

</script>
</body>
</html>
