{% from "action_macro.html" import action_row, action_tag_script with context %}
{% from "utils_macro.html" import compare_layout_form with context %}
{% from "snapshot_macro.html" import snapshot_summary, snapshot_bs_summary with context %}
{% extends "layout.html" %}
{% block title %}
    Search
{% endblock %}
{% block content %}
    <div class="row">
        <form action="{{ url_for('search_v2', result_path_str=result_path) }}" id="search_form" method="GET">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            Action
                        </div>

                        <div class="card-body">
                            <div class="row mb-3">
                                {% for (action_attr_name, action_attr_field) in action_attrs %}
                                    <div class="col-3">
                                        <label for="{{ action_attr_name }}SearchField" class="form-label">{{ action_attr_name }}</label>
                                        <input type="text" class="form-control" name="{{ action_attr_name }}" id="{{ action_attr_name }}SearchField"
                                        {% if action_attr_field %}
                                            value="{{ action_attr_field }}"
                                        {% endif %}
                                        >
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row mb-3">
                                {% for (action_xml_attr_name, action_xml_attr_field) in action_xml_attrs %}
                                    <div class="col-2">
                                        <label for="{{ action_xml_attr_name }}SearchField" class="form-label">{{ action_xml_attr_name }}</label>
                                        <select class="form-select" name="{{ action_xml_attr_name }}" id="{{ action_xml_attr_name }}SearchField" aria-label="{{ action_xml_attr_name }}e">
                                            {% for item in ['Any', 'true', 'false'] %}
                                                <option value="{{ item }}"
                                                        {% if action_xml_attr_field==item %}
                                                        selected
                                                        {% endif %}>
                                                    {{ item }}
                                                </option>
                                            {% endfor  %}
                                        </select>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="mb-3">
                                <label for="tbSearchField" class="form-label">Talkback Mode</label>
                                <select class="form-select" name="tbType" id="tbSearchField" aria-label="Talkback Mode">
                                    {% for item in [('both', 'Both'), ('exp', 'Directional'), ('sighted', 'Random Exploration') ] %}
                                        <option value="{{ item[0] }}"
                                                {% if tb_type==item[0] %}
                                                selected
                                                {% endif %}>
                                            {{ item[1] }}
                                        </option>
                                    {% endfor  %}
                                </select>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-4 ">
                                    <label class="form-label">TalkBack Result</label>
                                    <select class="form-select" name="tbResult" aria-label="TalkBack Result">
                                        {% for item in [('ALL', 'All'),
                                                    ('COMPLETED','Completed'),
                                                    ('FAILED','Failed'),
                                                    ('TIMEOUT','Timeout')] %}
                                            <option value="{{ item[0] }}"
                                                    {% if tb_result_field == item[0] %}
                                                    selected
                                                    {% endif %}>
                                                {{item[1]}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Touch Result</label>
                                    <select class="form-select" name="regResult" aria-label="Touch Result">
                                        {% for item in [('ALL', 'All'),
                                                    ('COMPLETED','Completed'),
                                                    ('FAILED','Failed'),
                                                    ('TIMEOUT','Timeout')] %}
                                            <option value="{{ item[0] }}"
                                                    {% if reg_result_field == item[0] %}
                                                    selected
                                                    {% endif %}>
                                                {{item[1]}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">A11yTouch Result</label>
                                    <select class="form-select" name="aregResult" aria-label="A11yTouch Result">
                                        {% for item in [('ALL', 'All'),
                                                    ('COMPLETED','Completed'),
                                                    ('FAILED','Failed'),
                                                    ('TIMEOUT','Timeout')] %}
                                            <option value="{{ item[0] }}"
                                                    {% if areg_result_field == item[0] %}
                                                    selected
                                                    {% endif %}>
                                                {{item[1]}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="postAnalysisResultField" class="form-label">Post Analysis Result</label>
                                <select class="form-select" name="postAnalysisResult" id="postAnalysisResultField" aria-label="Post Analysis Result">
                                    {% for item in [('ANY', 'Any'),
                                                    ('PROCESSED', 'Processed'),
                                                    ('ACCESSIBLE', 'Accessible'),
                                                    ('TB_A11Y_ISSUE', 'TB A11y Failure'),
                                                    ('API_A11Y_ISSUE', 'API A11y Failure'),
                                                    ('A11Y_WARNING', 'A11y Warning'),
                                                    ('API_SMELL', 'API Smell'),
                                                    ('EXTERNAL_SERVICE', 'External Service'),
                                                    ('LOADING', 'Loading Screen'),
                                                    ('TB_WEBVIEW_LOADING', 'WebView Loading in TalkBack'),
                                                    ('INEFFECTIVE', 'Ineffective Action'),
                                                    ('CRASHED', 'Crashed'),
                                                    ('OTHER', 'Other')] %}
                                        <option value="{{ item[0] }}"
                                                {% if post_analysis_result==item[0] %}
                                                selected
                                                {% endif %}>
                                            {{ item[1] }}
                                        </option>
                                    {% endfor  %}
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-2">
                        <div class="card-header">
                            Layout
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-3">
                                    <label for="xmlSearchField" class="form-label">Search in XML</label>
                                </div>
                                <div class="col-3">
                                    <select class="form-select" name="xmlSearchMode" aria-label="XML Search Mode">
                                        {% for item in [('ALL', 'All'),
                                                ('exp','Initial'),
                                                ('tb','TalkBack'),
                                                ('reg','Touch'),
                                                ('areg','A11yTouch')] %}
                                            <option value="{{ item[0] }}" class="text-start"
                                                    {% if xml_search_mode == item[0] %}
                                                    selected
                                                    {% endif %}>
                                                {{item[1]}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                                {% for (attr, field) in zip(xml_search_attrs, xml_search_fields) %}
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <select class="form-select" name="xmlSearchAttr[]" aria-label="XML Search Attribute">
                                                {% for item in [('ALL', 'All'),
                                                    ('text','Text'),
                                                    ('content-desc','ContentDescription'),
                                                    ('class','ClassName'),
                                                    ('clickable','Clickable'),
                                                    ('checkable','Checkable'),
                                                    ('visible','Visible'),
                                                    ('enabled','Enabled'),
                                                    ('clickableSpan','ClickableSpan'),
                                                    ('resource-id','ResourceId'),
                                                    ('actionList','A11y Actions'),
                                                    ('invalid','Invalid'),
                                                    ('contextClickable','Context Clickable'),
                                                    ('importantForAccessibility','ImportantForAccessibility'),
                                                    ('area','Area'),
                                                    ('width','Width'),
                                                    ('height','Height'),
                                                    ('supportsWebAction','SupportsWebAction')] %}
                                                    <option value="{{ item[0] }}" class="text-start"
                                                            {% if attr == item[0] %}
                                                            selected
                                                            {% endif %}>
                                                        {{item[1]}}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" name="xmlSearchQuery[]" id="xmlSearchField"
                                                    {% if field %}
                                                   value="{{ field }}"
                                                    {% endif %}
                                            >
                                        </div>
                                    </div>
                                {% endfor %}

                            {% for item in xml_fields %}
                                {{ compare_layout_form(item[0], item[1], item[2], 'XML') }}
                            {% endfor %}
                            {% for item in screen_fields %}
                                {{ compare_layout_form(item[0], item[1], item[2], 'SCREEN') }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            App & Snapshot
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <label for="appField" class="form-label">App</label>
                                <select class="form-select" name="appName" aria-label="App Name">
                                    {% for item in app_names %}
                                        <option value="{{ item }}" class="text-start"
                                                {% if app_name_field == item %}
                                                selected
                                                {% endif %}>
                                            {{item}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <input type="checkbox" class="form-check-input" name="oneResultPerSnapshot" id="oneResultPerSnapshotField"
                                        {% if one_result_per_snapshot == 'on' %}
                                       checked
                                        {% endif %}
                                >
                                <label for="oneResultPerSnapshotField" class="form-label">One Result Per Snapshot</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                        <div class="card">
                            <div class="card-header">
                                Other
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="countSearchActionField" class="form-label">Number of Action Results</label>
                                    <select class="form-select" name="action_limit_field" id="countSearchActionField" aria-label="Number of Action Results">
                                        {% for i in [10, 50, 100] %}
                                            <option value="{{ i }}"
                                                    {% if action_limit_field==i %}
                                                    selected
                                                    {% endif %}>
                                                {{i}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="countSearchSnapshotField" class="form-label">Number of Snapshots Results</label>
                                    <select class="form-select" name="snapshot_limit_field" id="countSearchSnapshotField" aria-label="Number of Snapshot Results">
                                        {% for i in [1, 5, 10, 20, 50, 100, 500, 1000, 2000] %}
                                            <option value="{{ i }}"
                                                    {% if snapshot_limit_field==i %}
                                                    selected
                                                    {% endif %}>
                                                {{i}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="includeTagsField" class="form-label">Include Tags</label>
                                    <input type="text" class="form-control" name="includeTags" id="includeTagsField"
                                            {% if include_tags_field %}
                                           value="{{ include_tags_field }}"
                                            {% endif %}
                                    >
                                </div>
                                <div class="mb-3">
                                    <label for="excludeTagsField" class="form-label">Exclude Tags</label>
                                    <input type="text" class="form-control" name="excludeTags" id="excludeTagsField"
                                            {% if exclude_tags_field %}
                                           value="{{ exclude_tags_field }}"
                                            {% endif %}
                                    >
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                                <a id="clear_form" class="btn btn-warning">Clear Form</a>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" style="height:25px;"></div>
    <hr>
    <div class="row" style="height:40px;">
        <h6>
            Number of action results: {{ all_action_result_count }}
        </h6>
        <h6>
            Number of snapshot results: {{ all_snapshots_result_count }}  Shown: {{ results | length }}
        </h6>

    </div>
    <hr>
    <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="actions-tab" data-bs-toggle="tab" data-bs-target="#actions-container" type="button" role="tab" aria-controls="#actions-container" aria-selected="false">Actions</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="snapshots-tab" data-bs-toggle="tab" data-bs-target="#snapshots-container" type="button" role="tab" aria-controls="#snapshots-container" aria-selected="false">Snapshots</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="blindsimmer-tab" data-bs-toggle="tab" data-bs-target="#blindsimmer-container" type="button" role="tab" aria-controls="#blindsimmer-container" aria-selected="true">BlindSimmer</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="actions-container" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Action</th>
                            <th scope="col">{{ mode_to_repr['exp'] }}</th>
                            <th scope="col">{{ mode_to_repr['tb'] }}</th>
                            <th scope="col">{{ mode_to_repr['reg'] }}</th>
                            <th scope="col">{{ mode_to_repr['areg'] }}</th>
                            <th scope="col">Result</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for search_snapshot_result in results %}
                            {% for step in search_snapshot_result.action_results %}
                                {{ action_row(step, true) }}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="snapshots-container" role="tabpanel" aria-labelledby="profile-tab">
{#                {% for search_snapshot_result in results %}#}
{#                    {{ snapshot_summary(search_snapshot_result.address_book, '') }}#}
{#                {% endfor %}#}
            </div>
            <div class="tab-pane fade  show active" id="blindsimmer-container" role="tabpanel" aria-labelledby="profile-tab">
                {% for search_snapshot_result in results %}
                    {{ snapshot_bs_summary(search_snapshot_result.address_book) }}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
{% block script_content %}
    <script>
        $(function () {
            $('#clear_form').on('click', function () {
                if (confirm("Are you sure?") == true) {
                    $(':input','#search_form')
                        .not(':button, :submit, :reset, :hidden')
                        .val('')
                        .prop('checked', false)
                        .prop('selected', false);
                    $('#search_form').submit()
                }

            });
        });
    </script>
    {{ action_tag_script() }}

{% endblock %}
