{% from "action_macro.html" import action_row, action_tag_script with context %}
{% from "utils_macro.html" import compare_xml_form with context %}
{% extends "layout.html" %}
{% block title %}
    Search
{% endblock %}
{% block content %}
    <div class="row">
        <form action="{{ url_for('search_v2', result_path_str=result_path) }}" id="search_form" method="GET">
            <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="textSearchField" class="form-label">Text</label>
                        <input type="text" class="form-control" name="text" id="textSearchField"
                        {% if text_field %}
                            value="{{ text_field }}"
                        {% endif %}
                        >
                    </div>
                    <div class="mb-3">
                        <label for="contentDescriptionField" class="form-label">Content Description</label>
                        <input type="text" class="form-control" name="contentDescription" id="contentDescriptionField"
                            {% if content_description_field %}
                               value="{{ content_description_field }}"
                            {% endif %}
                        >
                    </div>
                    <div class="mb-3">
                        <label for="classNameField" class="form-label">Class Name</label>
                        <input type="text" class="form-control" name="className" id="classNameField"
                                {% if class_name_field %}
                               value="{{ class_name_field }}"
                                {% endif %}
                        >
                    </div>
                    <label for="tbSearchField" class="form-label">Talkback Mode</label>
                    <select class="form-select" name="tbType" id="tbSearchField" aria-label="Talkback Mode">
                        {% for item in [('both', 'Both'), ('exp', 'Directional'), ('sighted', 'Random Exploration') ] %}
                            <option value="{{ item[0] }}"
                                    {% if tb_type==item[0] %}
                                    selected
                                    {% endif %}>
                                {{ item[1] }}
                            </option>
                        {% endfor  %}
                    </select>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="countSearchField" class="form-label">Number of Actions</label>
                        <select class="form-select" name="count" id="countSearchField" aria-label="Number of Actions">
                            {% for i in [10, 50, 100] %}
                                <option value="{{ i }}"
                                        {% if count_field==i %}
                                        selected
                                        {% endif %}>
                                    {{i}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% for item in xml_fields %}
                        {{ compare_xml_form(item[0], item[1], item[2]) }}
                    {% endfor %}


                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="includeTagsField" class="form-label">Include Tags</label>
                        <input type="text" class="form-control" name="includeTags" id="includeTagsField"
                                {% if include_tags_field %}
                               value="{{ include_tags_field }}"
                                {% endif %}
                        >
                    </div>
                    <div class="mb-3">
                        <label for="excludeTagsField" class="form-label">Exclude Tags</label>
                        <input type="text" class="form-control" name="excludeTags" id="excludeTagsField"
                                {% if exclude_tags_field %}
                               value="{{ exclude_tags_field }}"
                                {% endif %}
                        >
                    </div>
                    <div class="mb-3">
                        <input type="checkbox" class="form-check-input" name="hasPostAnalysis" id="hasPostAnalysisField"
                                {% if has_post_analysis == 'on' %}
                               checked
                                {% endif %}
                        >
                        <label for="hasPostAnalysisField" class="form-label">Has Post Analysis?</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a id="clear_form" class="btn btn-warning">Clear Form</a>
                </div>
            </div>
        </form>
    </div>
    <div class="row" style="height:25px;"></div>
    <hr>
    <div class="row" style="height:25px;"></div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Action</th>
                <th scope="col">Inital</th>
                <th scope="col">Talkback</th>
                <th scope="col">Regular</th>
                <th scope="col">A11y Regular</th>
                <th scope="col">Result</th>
            </tr>
            </thead>
            <tbody>
            {% for step in action_results %}
                {{ action_row(step, true) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script_content %}
    <script>
        $(function () {
            $('#clear_form').on('click', function () {
                $(':input','#search_form')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .prop('checked', false)
                    .prop('selected', false);
            });
        });
    </script>
    {{ action_tag_script() }}

{% endblock %}
